body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    color: #00ABCA;
}

.logoIcon {
    width: 45px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    min-width: 500px;
    margin: 0 auto;
    padding: 31px 26px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

header.darkMode {
    background-color: #21222A;
    color: white;
}

header .navLogo, header .navMode {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
}

.navMode .mode {
    background-color: black;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    position: relative;
}

.navMode .mode.darkMode {
    background-color: white;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    position: relative;
}

.navMode {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.mode .modeSwitch {
    width: 22px;
    height: 22px;
    background-color: #FFF;
    position: absolute;
    margin: 1.5px;
    bottom: 1;
    left: 0;
    border-radius: 50%;
}

.mode .modeSwitch.darkMode {
    width: 22px;
    height: 22px;
    background-color: #FFF;
    position: absolute;
    margin-left: 21px;
    bottom: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}


.dark {
    opacity: 20%;
}

.dark.darkMode {
    opacity: 100%;
}

.light {
    opacity: 100%;
}

.light.darkMode {
    opacity: 20%;
}

/* MAIN */

main {
    padding: 50px;
    font-size: 20px;
    min-width: 451px;
    margin: 0 auto;
    height: 100vh;
}

main.darkMode {
    background-color: #282D35;
    color: white;
}

main ul li {
    padding: 5px;
}


